<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#1454a8">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1454a8">

    <link href="https://fonts.googleapis.com/css?family=karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="icon" type="image/png" href="/images/conc_bot.jpg">
    <title>Fraud Bot</title>
</head>
<body>

    <section class="main_frame">
        <header>
            <div class="logo">
                FRAUDBOT
            </div>
            <div class="nav1">
                <a href="/users"><div  class="current"><i class="fa fa-users"></i> Users</div></a>
                <%if(sessionClient != undefined) { %>
                    <a href="/chat/:<%=sessionClient.name %>"><div><i class="fa fa-comments-o"></i> Chat</div></a>
                <% } else { %>
                    <a href="/users"><div><i class="fa fa-comments-o"></i> Chat</div></a>
                <% } %>
                <%if(sessionUser.userType == 'admin') { %>
                    <a href="/bot"><div><i class="fa fa-android"></i> Bot</div></a>
                <% } %>
            </div>
            <div class="nav2">
                <a href="/signout"><div><i class="fa fa-power-off"></i>DISCONNECT</div></a>
            </div>
            <i class="fa fa-bars"></i>
        </header>
        <div class="layer animated0"></div>
        <div class="smallscreennav animated0">
            <div class="user">
                <i class="fa fa-user-circle"></i>
                <div class="username"><%=sessionUser.name%></div>
            </div>
            <div class="nav">
                <a href="/users"><div class="current"><i class="fa fa-users"></i> Users</div></a>
                <%if(sessionClient != undefined) { %>
                    <a href="/chat/:<%=sessionClient.name %>"><div><i class="fa fa-comments-o"></i> Chat</div></a>
                <% } else { %>
                    <a href="/users"><div><i class="fa fa-comments-o"></i> Chat</div></a>
                <% } %>
                <%if(sessionUser.userType == 'admin') { %>
                    <a href="/bot"><div><i class="fa fa-android"></i> Bot</div></a>
                <% } %>
                <a href="/signout"><div><i class="fa fa-power-off"></i>DISCONNECT</div></a>
            </div>
        </div>

        <div class="registered_users">
            <div class="head">
                <div class="title">All Users</div>
            </div>

            <div class="user_list">
                <% if( msg == '') { %>
                    <%for (var i = user.length-1; i >= 0; i--) { %>
                        <% if(user[i].name != sessionUser.name) { %>
                            <a href="/chat/:<%=user[i].name %>">
                                <div class="user">
                                    <%var initial = user[i].name.slice(0, 1)%>

                                    <%if(user[i].fraudLevel == 'innocent') { %>
                                        <div class="icon innocent"><%=initial %></div>
                                    <% } else if(user[i].fraudLevel == 'unsure') { %>
                                        <div class="icon unsure"><%=initial %></div>
                                    <% } else if(user[i].fraudLevel == 'suspect') { %>
                                        <div class="icon suspect"><%=initial %></div>
                                    <% } else if(user[i].fraudLevel == 'busted') { %>
                                        <div class="icon busted"><%=initial %></div>
                                    <% } %>

                                    <div class="details">
                                        <div class="name"><%= user[i].name%></div>
                                        
                                        <div class="moredet">
                                            <div class="fraud"><%=user[i].fraudLevel %></div>
                                            <div class="buttons">
                                                <form class="label" action="/resetfraudLevel" method="POST">        
                                                    <input type="text" name="usertoreset" value="<%=user[i].name%>" hidden>
                                                    <%if(sessionUser.userType == 'admin') { %>
                                                        <button class="refresh"><i class="fa fa-refresh"></i></button>
                                                    <% } %>
                                                </form>
                                                <button class="delete"><a href="/delete/:<%=user[i].name%>"><i class="fa fa-trash"></i></a></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        <% } %>
                    <% } %>
                <% } else { %>
                        <div class="errormsg"><%=msg%>There was an error fetching users. Reload the page. <br>
                            <a href="/users"><button>RELOAD</button></a>
                        </div>
                <% } %>
            </div>
        </div>


    </section>

    <script>

        var smallScreenNav = document.querySelector('div.smallscreennav');
        var layer = document.querySelector('div.layer');

        var openDrawer = document.querySelector('i.fa-bars');
        openDrawer.onclick = () =>{
            console.log('clicked');
            
            layer.classList.remove('fadeOut');
            layer.classList.add('fadeIn');
            layer.style.display = 'block'

            smallScreenNav.classList.remove('slideOutLeft');
            smallScreenNav.classList.add('slideInLeft');
            smallScreenNav.style.display = 'block'
        }
        
        layer.onclick = () =>{
            layer.classList.remove('fadeIn');
            layer.classList.add('fadeOut');
            layer.style.display = 'none'

            smallScreenNav.classList.remove('slideInLeft');
            smallScreenNav.classList.add('slideOutLeft');
        }
    </script>
</body>
</html>
